# Configuration file

"staring health" {
    # Amount of hearts players will start with on easy [range: 1 ~ 10, default: 7]
    I:"Easy starting hearts"=7

    # Amount of hearts players will start with on hard [range: 1 ~ 10, default: 3]
    I:"Hard starting hearts"=3

    # Amount of hearts players will start with on normal [range: 1 ~ 10, default: 5]
    I:"Normal starting hearts"=5
}


"survival settings" {
    B:"Enable Body Temperature"=true

    # Players begin with a lowered maximum health. [default: true]
    B:"Enable Lowered Starting Health"=false
    B:"Enable Seasons"=true

    # Players are affected by thirst [default: true]
    B:"Enable Thirst"=true

    # Max amount of hearts players can get [range: 10 ~ 100, default: 10]
    I:"Max hearts"=10
}


